<p>favorite-movies works!</p>

<p class="p-3 mb-2 bg-primary text-white text-center" >Favorite Movies</p>

<a routerLink="favorite" class=""></a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Movie Title</th>
            <th style="width: 30%">Movie Description</th>
            <th style="width: 30%">Date Released</th>
            <th style="width: 10%"></th>
        </tr>
        
    </thead>
    <tbody>
        <tr *ngFor="let favoriteMovie of filteredMovie">
            <td>{{favoriteMovie.title}}</td>
            <td>{{favoriteMovie.description}}</td>
            <td>{{favoriteMovie.dateReleased}}</td>
            <td style="white-space: nowrap">
                <a routerLink="../{{ favoriteMovie.id }}" class="btn btn-sm btn-primary glyphicon glyphicon-pencil"></a>
                <button (click)="deleteFavoriteMovie(favoriteMovie.favoriteId)" class="btn btn-sm btn-danger glyphicon glyphicon-thumbs-down" [disabled]="favoriteMovie.isDeleting">
                    <span *ngIf="favoriteMovie.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!favoriteMovie.isDeleting"></span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!filteredMovie">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>
